*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif
}

nav{
    display: flex;
   justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 2rem;

}

ul a{
    font-size: x-large;
    color: red;
    text-decoration: none;

}


ul{
    list-style: none;
    display: flex;
    gap: 30px;
   
}